body {
   background-color: lightsteelblue
}
#all_users {
    border: 1px grey solid;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    max-width: 180px;

}
#choose_room {
    padding: 20px;
}